In [1]:
#Question1
#A database is a collection of data that is organized so that it can be easily accessed, managed, and updated
#Sql data base is structured data bases and NOsql is unstructured data bases which can store any time of data

In [2]:
#Question2
#DDL stands for Data Definition Language it is a set of SQL statements that 
#are used to define the structure of a database. DDL statements are used to create, alter, and drop databases, tables, and other database objects.
CREATE TABLE customers (
  id INT NOT NULL AUTO_INCREMENT,
  name VARCHAR(255) NOT NULL,
  email VARCHAR(255) NOT NULL,
  PRIMARY KEY (id)
);
DROP TABLE customers;
ALTER TABLE customers ADD COLUMN phone_number VARCHAR(255);
TRUNCATE TABLE customers;

SyntaxError: invalid syntax (1373279463.py, line 4)

In [3]:
#Question3
#DML stands for Data Manipulation Language. It is a set of SQL statements that are used to manipulate the data in a database it is  used to insert, update, and delete rows from tables
#INSERT is used to insert a new row into a table
#UPDATE is used to update the values of one or more columns in a row
#DELETE is used to delete a row from a table

In [4]:
#Question 4
# Data Query Language are used to select, filter, and sort data from tables, as well as to perform other operations such as joining and grouping data
#SELECT is used to select data from a table
#SELECT * FROM Student

In [6]:
#Question 5
#A primary key is a column  in a table that uniquely identifies each row in the table
#A foreign key is a column in a table that refers to the primary key of another table
#Primary keys and foreign keys are important concepts in database design they help to ensure the accuracy and consistency of data in a database

In [7]:
#Question 6
import mysql.connector

connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123",
    database="my_database"
)

cursor = connection.cursor()

cursor.execute("SELECT * FROM customers")

results = cursor.fetchall()
for row in results:
    print(row)
cursor.close()
connection.close()

#cursor() method is used to create a cursor object a cursor object is used to execute SQL queries and fetch the results
#he execute() method is used to execute a SQL query the execute method takes a SQL query as its argument.

ModuleNotFoundError: No module named 'mysql'

In [ ]:
#Question 7
#The FROM clause must always be the first clause in an SQL query The WHERE, GROUP BY, HAVING, SELECT, ORDER BY, and LIMIT clauses can be in any order,